<!DOCTYPE html>
<html>

<head>
  <title>ID-kaardi uuring</title>

  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="/css/Yhine.css" />

</head>

<body>

  <h1>
    ID-kaardi uuring
  </h1>

  <div id='Toiminguvalikurida' style='display: flex; flex-wrap: wrap; justify-content: center'>
    <a id='AnnaNupp' style='display: block;' class='toimingunupp' href='autendi'>Autendi</a>
  </div>

  <% include ../partials/footer.ejs %>

</body>

</html>